.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}


/* footer */
.footer {
  background-color: var(--primary-color);
  color: var(--bg-color);
  padding: 2rem 1rem;
  text-align: center;
  border: 1px solid black;
  border-bottom: 0px;
  border-radius: 0rem 1rem 0rem 0rem;
  margin-top: 100px;
}

.footer .link {
  color: var(--bg-color);
  padding: 0;
}

.footer .link img {
  width: 30px;
}

.footer ul {
  padding-inline-start: 0px;
}

.footer-header {
  font-weight: bold;
  font-size: x-large;
}

.link {
  padding: 0.5rem 1rem;
}

.list-non-bullet {
  list-style: none;
}

.list-item-inline {
  display: inline;
  padding: 0rem 0.5rem;
}